MJ_UI_extracted
**/.DS_Store
.DS_Store
Breadcrumb/.DS_Store
DateOutput/.DS_Store
FileNetImport/.DS_Store
.env
.bob/mcp.json
sample/
.bob/oldmcp.txt
widget_input
business-objects/
business-processes/
business-processes-old/
business-blueprints/
business-process/*
templates/Localisation
widgets/Carousel
widgets/MultiDocumentUpload